#char_network {
    position: absolute;
    height: inherit;
    width: 100%;
}

.opt-button-container {
    width: 5%;
    margin-left: 3%;
    margin-top: 3%;
    float: left;
    position: relative;
}

.button-container {
    width: 15%;
    margin-right: 3%;
    margin-top: 3%;
    float: right;
    position: relative;
}

.shown {
    height: 500px !important;
}

.button-row {
    min-height: 10%;
    max-height: 20%;
    margin-top: 5%;
    width: 100%;
}

.custom-checkbox {
    margin-bottom: 10px;
}
