.full {
    height: 100vh;
    width: 100vw;
    padding: 0;
}

.bar {
    background-color: #333333;
    color: goldenrod;
    height: 6%;
}

.navcell {
    cursor: pointer;
    width: 30%;
    max-width: 20%;
    position: relative;
    height: 100%;
    text-align: center;
    line-height: 50px;
    font-size: x-large;
}

.navcell-first {
    width: 15%;
    text-align: left !important;
}

.navcell::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(255,255,255,0.1);
    transition: all 0.3s;
}
.navcell:hover::before {
    opacity: 0 ;
    transform: scale(0.5,0.5);
}
.navcell::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    transform: scale(1.2,1.2);
}
.navcell:hover::after {
    opacity: 1;
    transform: scale(1,1);
}

.delimiter {
    margin-top: auto;
    margin-bottom: auto;
    padding: 0;
    height: 60%;
    max-width: 3px !important;
    background-color: goldenrod;
}

.main {
    height: 94%;
    padding: 0;
    background: rgb(228,228,228);
    background: linear-gradient(90deg, rgba(228,228,228,1) 20%, rgba(242,242,242,1) 87%, rgba(242,242,242,1) 100%);
}

.hidden {
    display: none;
}

.empty-label {
    text-align: center;
    font-family: 'Verdana', serif;
    line-height: 50px;
    position: absolute;
    margin-top: 20%;
    width: 100%;
    color: gray;
}

.custom-control-label:before{
    background-color:black;
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::before{
    background-color:goldenrod;
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::after{
    background-image:url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='red' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E");
}
.custom-control-input:active~.custom-control-label::before{
    background-color:goldenrod;
}

/** focus shadow pinkish **/
.custom-checkbox .custom-control-input:focus~.custom-control-label::before{
    box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(255, 221, 8, 0.25);
}