.vis-item.white {
    background-color: white;
    border-color: grey;
    color: black;
}

.vis-item.vis-selected {
    background-color: white;
    border-color: goldenrod;
    color: black;
}

.vis-time-axis .vis-grid.vis-major {
    border-color: black;
    border-left-width: medium;
}

.vis-time-axis .vis-grid.vis-minor {
    border-color: black;
}

.vis-panel.vis-bottom, .vis-panel.vis-center, .vis-panel.vis-top {
    border-color: black;
}

.button-container {
    width: 15%;
    margin-right: 3%;
    margin-top: 2%;
    float: right;
    position: relative;
}

.shown {
    height: 150px !important;
}

.button-row {
    min-height: 10%;
    max-height: 50%;
    margin-top: 5%;
    width: 100%;
}

