<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js"></script>
    <script type="text/javascript" src="js/character.js"></script>
    <link href="css/general.css" rel="stylesheet">
    <link href="css/character.css" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Characters</title>
</head>
<body>
<div class="container-fluid full">
    <div class="container-fluid bar"></div>
    <div class="container-fluid main">
        <div class="empty-label hidden">
            <h1>Персонажей пока нет</h1>
            <span>Попробуйте их добавить</span>
        </div>
        <div id="opt_buttons" class="container opt-button-container expandable">
            <div class="row button-row">
                <div class="network-button-active network-select network-back">
                    <span>Назад</span>
                </div>
            </div>
        </div>
        <div id="network_buttons" class="container button-container expandable">
            <div class="row button-row">
                <div class="network-button-active network-select network-choose">
                    <span class="hidden character-label">Выбрать персонажа</span>
                    <span class="hidden relation-label">Выбрать связь</span>
                </div>
            </div>
            <div class="row button-row">
                <div class="network-button-active network-select">
                    <span>Редактировать</span>
                </div>
            </div>
            <div class="row button-row">
                <div class="network-button-active network-select">
                    <span>Удалить</span>
                </div>
            </div>
        </div>
        <div id="char_network"></div>
    </div>
</div>
</body>
</html>